/* === HERO CONTENT === */

.hero-section {
  position: relative;
  z-index: 1;

  background-color: #1d1d1d;
  border-radius: 30px;

  margin-top: 20px;
  padding: 40px 20px 0;

  @media only screen and (min-width: 768px) {
    /* display: flex;
    justify-content: space-between; */
    padding: 64px 32px 0;
    
  }

  @media only screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 0;
  }

  @media only screen and (min-width: 1440px) {
    padding: 80px 100px 0 50px;
    
  }
}

.hero-title {
  max-width: 290px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  @media only screen and (min-width: 768px) {
    max-width: 490px;
    font-weight: 500;
    font-size: 60px;

    line-height: 1.1;
    letter-spacing: -0.04em;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 64px;
  }
}

.color-span {
  font-style: italic;
  font-weight: 400;
  color: var(--brown);
}

.hero-text {
  max-width: 290px;
  margin-bottom: 40px;

    @media only screen and (min-width: 1280px) {
    max-width: 392px;
    margin-bottom: 136px;
  }
}

/* === STUDENT === */

.hero-content-section {
  display: flex;
  margin-bottom: 31px;
  @media only screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.hero-student {
      @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.hero-student-list {
  display: flex;
  position: relative;

  margin-bottom: 4px;
  margin-right: 24px;
}

.hero-student-list li:nth-child(1) {
  z-index: 3;
}
.hero-student-list li:nth-child(2) {
  z-index: 2;
}
.hero-student-list li:nth-child(3) {
  z-index: 1;
}

.hero-student-img {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  object-fit: cover;

  outline: 2px solid #1d1d1d;
}

.hero-student-list li {
  margin-right: -12px; /* поиграй с этим значением */
}

/* === HAPPY STUDENT === */

.hero-student {
  margin-right: 40px;
}

.hero-happy-student {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-happy-student-text {
  max-width: 67px;
}

.hero-happy-student-svg {
  margin-top: 3px;
  fill: var(--white);
}

/* === REVIEWS === */

.hero-reviews-section {
  display: flex;
  justify-content: center;
}

.hero-reviews-star {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  margin-right: 12px;

  border-radius: 50%;
  background-color: var(--brown);
}

.hero-reviews-star-svg {
  fill: transparent;
  stroke: #1d1d1d;
  stroke-width: 2px;
}

.hero-reviews-content {
  display: flex;
  flex-direction: column;
}

.hero-reviews-text {
  margin: 4px 0;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
}

.hero-reviews-text-numbers {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.1;
  letter-spacing: -0.04em;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 768px) {
    width: 393px;
    height: 434px;
    margin-top: auto;
  }

   @media only screen and (min-width: 1280px) {
    width: 397px;
    height: 520px;
    margin: 0;
  }
}
